<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyboardDecreaseRate" value="5"/>
    <add key="KeyboardWarningSoftLimit" value="10"/>
    <add key="KeyboardWarningHardLimit" value="15"/>
    
    <add key="FadeInDuration" value="50"/>
    <add key="FadeOutDuration" value="300"/>
  </appSettings>
</configuration>