<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyboardPointsDecreaseRate" value="5"/>
    <add key="KeyboardPointsWarningLimit" value="15"/>
    <add key="FadeInDuration" value="50"/>
    <add key="FadeOutDuration" value="300"/>
  </appSettings>
</configuration>