<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KeyboardIncreaseRate" value="10"/>
    <add key="KeyboardDecreaseRate" value="50"/>
    <add key="KeyboardWarningSoftLimit" value="100"/>
    <add key="KeyboardWarningHardLimit" value="200"/>
    
    <add key="FadeInDuration" value="50"/>
    <add key="FadeOutDuration" value="300"/>

    <add key="SoftLimitWarningColor" value="Yellow"/>
    <add key="HardLimitWarningColor" value="Red"/>
  </appSettings>
</configuration>